version = 1

[[analyzers]]
name = "javascript"

  [analyzers.meta]
  environment = ["browser", "jquery"]

[[analyzers]]
name = "python"

  [analyzers.meta]
  runtime_version = "3.x.x"

  [analyzers.config]
  exclude_rules = ["E501"]
  test_patterns = ["test_.*.py", "tests/"]
  ignore_patterns = ["build/", "scripts/"]

[[transformers]]
name = "black"

[[transformers]]
name = "prettier"

[[transformers]]
name = "isort"
