venv/
.DS_Store
validate.py
cleardatabase.py
data_migrate.py
.env
node_modules
eslint.config.mjs
package-lock.json
package.json
new_functionality.py
new_functionality/
clearmapmatchdatabase.py
fastapi.py
draft_fastapi.py
fix_bouncie_trip_times.py
undo_bouncie_trip_times.py
fix_mapmatched_times.py
undo_mapmatched_times.py
app.log
app.log.*
clearhistoricaldatabase.py
drivingdatainapi/cache/
cache/*
drivingdatainapi/historical_data_*.geojson
drivingdatainapi/historical_data_*.geojson
olddrivingdata/historical_data_*.geojson
olddrivingdata/*.geojson
drivingdatainapi/*.geojson
gpxexamples/
database_utilities.py
bouncie_api.py
services/__pycache__/
__pycache__/
database_utilities_gui.py
node_modules/
*.log
jscpd-report/
static/android-chrome-192x192.png
static/android-chrome-512x512.png
static/apple-touch-icon.png
static/favicon-16x16.png
static/favicon-32x32.png
static/favicon.ico
static/site.webmanifest
drivingdatainapi
olddrivingdata
.coverage
database_conversion.py
migrate_geo_points.py
docs/document.json
test_live_tracking.py
advanced_test_live_tracking.py