.env
/venv
.DS_Store
__pycache__/
node_modules
.prettierrc
package.json
package-lock.json
.cursor/
celerybeat-schedule.db
flower.db
vibes.md
.service_pids
.vscode/settings.json
node_modules/
eslint.config.mjs
.vscode
.ruff_cache
reports/
.autofix/

scripts/autofix.sh
scripts/autofix1.sh
scripts/bootstrap.sh
scripts/autofix_safe.sh

.stylelintrc.json

cache/
bouncie_docs/bouncie_api_docs.txt
data/*
.before_autofix.txt
.after_autofix.txt
# bouncie_docs/bouncie_api_docs.json
.coverage
.gitignore
coverage.lcov
everystreet-data/us-9states.osm.pbf
version.json
app.py
.codex/config.toml
.claude/CLAUDE.md
