[tool.ruff]
line-length = 88

[tool.ruff.lint]
# Enable E501 to check for lines exceeding 88 characters (including comments)
select = ["E501"]

[tool.ruff.lint.pycodestyle]
max-doc-length = 88

[tool.ruff.format]
# Format code and wrap lines (including comments) to 88 characters
docstring-code-line-length = 88
docstring-code-format = true





