gunicorn
aiohttp
beanie==2.0.1
certifi
fastapi
geopandas
gpxpy
httpx[http2]
arq
motor
numpy
pydantic==2.12.5
pymongo
pyproj
pyrosm
python-dotenv
itsdangerous
python_dateutil
pytz
redis[hiredis]
Shapely
h3
uvicorn[standard]
jinja2
python-multipart
pwdlib[argon2]
osmnx
networkx
tenacity
aiofiles
Pillow
