aiohttp
certifi
geopandas
geojson
gpxpy
pymongo
pytz
requests
python-dotenv
shapely
flask
flask-socketio
timezonefinder
eventlet
pyproj
dateutils
gunicorn
python-dateutil
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability