gunicorn
aiohttp
celery
certifi
fastapi
geojson
geopandas
gpxpy
httpx
kombu
motor
numpy
pydantic
pymongo
pyproj
python-dotenv
python_dateutil
pytz
redis
rtree
scikit_learn
Shapely
uvicorn[standard]
jinja2
python-multipart
starlette>=0.49.1 # not directly required, pinned by Snyk to avoid a vulnerability