gunicorn
aiohttp
beanie
certifi
fastapi
geopandas
gpxpy
httpx[http2]
arq
motor
numpy
pydantic
pymongo
pyproj
pyrosm
python-dotenv
python_dateutil
pytz
redis[hiredis]
Shapely
uvicorn[standard]
jinja2
python-multipart
osmnx
networkx
tenacity
aiofiles

