aiohttp
certifi
geopandas
geojson
gpxpy
pymongo
pytz
requests
python-dotenv
shapely
flask
flask-socketio
timezonefinder
eventlet
pyproj
dateutils
gunicorn
python-dateutil
Flask[async]
uvloop
httptools
ujson