/* ============================
   Minimal Bootstrap Compatibility
   ============================ */

/* Display utilities */
.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

@media (width >= 768px) {
  .d-md-none {
    display: none !important;
  }

  .d-md-block {
    display: block !important;
  }

  .d-md-inline {
    display: inline !important;
  }

  .d-md-flex {
    display: flex !important;
  }
}

/* Flex helpers */
.flex-wrap {
  flex-wrap: wrap;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-grow-1 {
  flex-grow: 1;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-between {
  justify-content: space-between;
}

/* Collapse utilities */
.collapse {
  display: none;
}

.collapse.show {
  display: block;
}

.collapsing {
  height: 0;
  overflow: hidden;
  transition: height var(--transition-normal);
}

/* Positioning */
.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.position-fixed {
  position: fixed;
}

.position-sticky {
  position: sticky;
}

.top-0 {
  top: 0;
}

.bottom-0 {
  bottom: 0;
}

.start-0 {
  left: 0;
}

.end-0 {
  right: 0;
}

/* Margin helpers (start/end) */
.ms-1 {
  margin-left: var(--space-1) !important;
}

.ms-2 {
  margin-left: var(--space-2) !important;
}

.me-1 {
  margin-right: var(--space-1) !important;
}

.me-2 {
  margin-right: var(--space-2) !important;
}

.me-4 {
  margin-right: var(--space-4) !important;
}

/* Font style */
.fst-italic {
  font-style: italic;
}

.fst-normal {
  font-style: normal;
}

/* Text alignment */
.text-start {
  text-align: left;
}

.text-end {
  text-align: right;
}

.text-center {
  text-align: center;
}

/* Sizing */
.w-100 {
  width: 100% !important;
}

.h-100 {
  height: 100% !important;
}

/* Grid system (12-column) */
.row {
  --row-gap: var(--space-4);
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-left: calc(var(--row-gap) / -2);
  margin-right: calc(var(--row-gap) / -2);
  row-gap: var(--row-gap);
}

.g-0 {
  --row-gap: 0 !important;
}

.g-3 {
  --row-gap: var(--space-4) !important;
}

.g-4 {
  --row-gap: var(--space-6) !important;
}

.col {
  flex: 1 0 0%;
  min-width: 0;
}

.col-12,
.col-6,
[class*="col-md-"],
[class*="col-lg-"],
[class*="col-xl-"] {
  flex: 0 0 auto;
  width: 100%;
}

.row > .col,
.row > .col-12,
.row > .col-6,
.row > [class*="col-md-"],
.row > [class*="col-lg-"],
.row > [class*="col-xl-"] {
  padding-left: calc(var(--row-gap) / 2);
  padding-right: calc(var(--row-gap) / 2);
}

.col-6 {
  width: 50%;
}

@media (width >= 768px) {
  .col-md-2 {
    width: 16.6667%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.3333%;
  }

  .col-md-5 {
    width: 41.6667%;
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: 58.3333%;
  }

  .col-md-8 {
    width: 66.6667%;
  }

  .col-md-10 {
    width: 83.3333%;
  }
}

@media (width >= 992px) {
  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.3333%;
  }

  .col-lg-5 {
    width: 41.6667%;
  }

  .col-lg-7 {
    width: 58.3333%;
  }

  .col-lg-8 {
    width: 66.6667%;
  }

  .col-lg-9 {
    width: 75%;
  }
}

@media (width >= 1200px) {
  .col-xl-4 {
    width: 33.3333%;
  }

  .col-xl-6 {
    width: 50%;
  }

  .col-xl-8 {
    width: 66.6667%;
  }
}

/* Background utilities with opacity support */
.bg-opacity-10 {
  --bg-opacity: 0.1;
}

.bg-opacity-25 {
  --bg-opacity: 0.25;
}

.bg-opacity-75 {
  --bg-opacity: 0.75;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-dark {
  background-color: rgb(0 0 0 / var(--bg-opacity, 1)) !important;
}

.bg-secondary {
  background-color: rgb(var(--secondary-rgb) / var(--bg-opacity, 1)) !important;
}

.bg-success {
  background-color: rgb(var(--success-rgb) / var(--bg-opacity, 1)) !important;
}

.bg-warning {
  background-color: rgb(var(--warning-rgb) / var(--bg-opacity, 1)) !important;
}

.bg-danger {
  background-color: rgb(var(--danger-rgb) / var(--bg-opacity, 1)) !important;
}

.bg-info {
  background-color: rgb(var(--info-rgb) / var(--bg-opacity, 1)) !important;
}
