.map-container {
  height: 600px;
  background-color: #2c2c2c;
  border-radius: 8px;
}
.selected-trip {
  color: #ffd700 !important;
}
@media (max-width: 768px) {
  .map-container {
    height: 400px;
  }
}
