<nav id="sidebar" class="sidebar">
    <div class="sidebar-header">
        <h3>Every Street</h3>
        <button id="sidebar-toggle" class="sidebar-toggle">
            <i class="fas fa-bars"></i>
        </button>
    </div>
    <ul class="sidebar-menu">
        <li><a href="/"><i class="fas fa-map"></i> <span>Map</span></a></li>
        <li><a href="/trips"><i class="fas fa-road"></i> <span>Trips</span></a></li>
        <li><a href="/driving-insights"><i class="fas fa-chart-line"></i> <span>Driving Insights</span></a></li>
    </ul>
    <div class="sidebar-content">
        <div id="filters">
            <h2>Filters</h2>
            <label for="start-date">Start Date:</label>
            <input type="text" id="start-date" placeholder="Select Start Date">
            <label for="end-date">End Date:</label>
            <input type="text" id="end-date" placeholder="Select End Date">
            <label for="imei">IMEI:</label>
            <select id="imei">
                <option value="">All</option>
            </select>
            <label for="show-live-routes">
                <input type="checkbox" id="show-live-routes" checked>
                Show Live Routes
            </label>
            <button id="apply-filters">Apply Filters</button>
            <button id="fetch-trips-range">Fetch Trips in Range</button>
            <button id="export-geojson">Export GeoJSON</button>
            <button id="export-gpx">Export GPX</button> 
            <button id="map-match-trips">Map Match Trips</button> <!-- New button -->
            <button id="map-match-historical-trips">Map Match Historical Trips</button> <!-- New button -->
        </div>
    </div>
    <div class="sidebar-clock">
        <h4>Adjusted Time</h4>
        <div id="current-date"></div>
        <div id="current-time"></div>
    </div>
</nav>