# .github/workflows/deploy.yml
name: Deploy to Mini PC

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Deploy Application
        run: |
          cd /home/davis/app
          bash deploy.sh